*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: orange;
    position: fixed;
    z-index: 2;
    top: 0px;  
}

.container{
    width: 80%;
    margin: auto; 
}

.container-menu{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo{
    width: 150px;
    text-align: center;
}


.col{
    display: flex;
    margin: auto;
    width: calc(100% / 3);
    border: 1px solid black;
}

footer{
    background-color: #000000;
    color: white;
    
}

.fine{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.info{
    padding-top: 10px;
}

.icone-footer{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;

}
