*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: orange;
}

.container{
    width: 80%;
    margin: auto; 
}

.container-menu{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo{
    width: 150px;
    text-align: center;
}

.container-img-uno{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.prima-img{
    display: flex;
    height: 500px;
    

}