*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: orange;
}

.container{
    width: 80%;
    margin: auto; 
}

.container-menu{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo{
    width: 150px;
    text-align: center;
}

.container-grande{
    margin-top: 40px;
    margin-bottom: 40px;
}

.container-img-uno{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.prima-img{
    display: flex;
    height: 500px;
    

}


footer{
    background-color: #000000;
    color: white;
    
}

.fine{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.info{
    padding-top: 10px;
}

.icone-footer{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;

}
